<main class="absolute px-3 flex flex-col items-center lg:px-30 lg:h-[600px] border-solid border-1">
  <div class="relative flex flex-col lg:flex-row-reverse lg:items-center lg:h-full lg:gap-x-10">
    <div class="relative flex gap-4 *:flex *:flex-col *:gap-y-4 h-full lg:w-4/6">
      <div id="images-1" class="relative top-0">
        <image src="{{ url_for('static', filename="images/hero-image-1.png")}}" alt="hero-image" />
        <image src="{{ url_for('static', filename="images/hero-image-2.png")}}" alt="hero-image" />
      </div>
      <div id="images-2" class="relative">
        <image src="{{ url_for('static', filename="images/hero-image-3.png")}}" alt="hero-image" />
        <image src="{{ url_for('static', filename="images/hero-image-4.png")}}" alt="hero-image" />
      </div>
      <div id="images-3" class="relative top-0">
        <image src="{{ url_for('static', filename="images/hero-image-5.png")}}" alt="hero-image" />
        <image src="{{ url_for('static', filename="images/hero-image-6.png")}}" alt="hero-image" />
      </div>
    </div>
    <div class="space-y-4 lg:w-3/6">
      <h1 class="text-[#2B2C34]] text-3xl font-semibold lg:text-5xl">Connect. Chat. Share Seamlessly with Ewonu</h1>
      <p class="text-[#2B2C34] lg:text-2xl">Ewonu is your modern social chat space for real-time messaging, smart groups, and meaningful connection</p>
      <div class="flex gap-x-5">
        <button class="bg-transparent border-1 border-[#1B9E4B] border-solid text-[#1B9E4B] py-2 px-4 rounded-sm cursor-pointer hover:text-[#FFFFFE] hover:bg-[#1B9E4B] transition-all duration-300">
          <a href="{{ url_for('users.login') }}">Login</a>
        </button>
        <button class="bg-[#1B9E4B] text-[#FFFFFE] py-2 px-4 rounded-sm cursor-pointer hover:bg-[#147638] active:bg-[#0F592A] transition-all duration-300">
          <a href="{{ url_for('users.register') }}">Register</a>
        </button>
      </div>
    </div>
  </div>
  
</main>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollToPlugin.min.js"></script>
<script src="{{ url_for('static', filename='scripts/components/hero.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/gsap.js') }}"></script>