<main class="absolute px-3 flex flex-col items-center">
  <div class="relative">
    <div class="flex gap-2 *:flex *:flex-col *:gap-y-2">
      <div id="images-1" class="relative top-0">
        <image src="{{ url_for('static', filename="images/hero-image-1.png")}}" alt="hero-image" />
        <image src="{{ url_for('static', filename="images/hero-image-2.png")}}" alt="hero-image" />
      </div>
      <div id="images-2" class="relative">
        <image src="{{ url_for('static', filename="images/hero-image-3.png")}}" alt="hero-image" />
        <image src="{{ url_for('static', filename="images/hero-image-4.png")}}" alt="hero-image" />
      </div>
      <div id="images-3" class="relative top-0">
        <image src="{{ url_for('static', filename="images/hero-image-5.png")}}" alt="hero-image" />
        <image src="{{ url_for('static', filename="images/hero-image-6.png")}}" alt="hero-image" />
      </div>
    </div>
    <div class="space-y-4 absolute bottom-0">
      <h1 class="text-[] text-3xl">Connect. Chat. Share Seamlessly with Ewonu</h1>
      <p class="text-[#2B2C34]">Ewonu is your modern social chat space for real-time messaging, smart groups, and meaningful connection</p>
      <div class="flex gap-x-5">
        <button class="bg-transparent border-1 border-[#1B9E4B] border-solid text-[#1B9E4B] py-1 px-4 rounded-sm cursor-pointer hover:bg-[#1B9E4B] transition-all duration-300">
          <a href="{{ url_for('users.login') }}">Login</a>
        </button>
        <button class="bg-[#1B9E4B] text-[#FFFFFE] py-1 px-4 rounded-sm cursor-pointer hover:bg-[#147638] active:bg-[#0F592A] transition-all duration-300">
          <a href="{{ url_for('users.register') }}">Register</a>
        </button>
      </div>
    </div>
  </div>
  
</main>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollToPlugin.min.js"></script>
<script src="{{ url_for('static', filename='scripts/components/hero.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/gsap.js') }}"></script>